<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin id="org.eclipse.lsp4jakarta.jdt"
	name="Eclipse Lsp4Jakarta JDT Extension">
	
   <extension-point id="projectLabelProviders"
                name="%projectLabelProviders.name"
                schema="schema/projectLabelProviders.exsd"/>
	
	<requires>
		<import plugin="org.eclipse.core.runtime" />
	</requires>

	<!-- Delegate command handler for custom Eclipse LSP4Jakarta commands contributed to Eclipse JDT LS -->
	<extension point="org.eclipse.jdt.ls.core.delegateCommandHandler">
		<delegateCommandHandler class="org.eclipse.lsp4jakarta.jdt.internal.core.ls.JakartaDelegateCommandHandlerForJava">
			<command id="jakarta/java/classpath"/>
			<command id="jakarta/java/completion"/>
			<command id="jakarta/java/diagnostics"/>
			<command id="jakarta/java/codeaction"/>
			<command id="jakarta/java/cursorcontext"/>
		</delegateCommandHandler>
	</extension>	
	<!--
	<extension point="org.eclipse.lsp4jakarta.jdt.core.javaFeatureParticipants" >
   	  <completion class="org.eclipse.lsp4jakarta.jdt.internal.core.java.completion.JavaCompletionDefinition" />
   </extension>
   -->
   <extension point="org.eclipse.lsp4jakarta.jdt.core.projectLabelProviders">
      <provider class="org.eclipse.lsp4jakarta.jdt.internal.core.providers.JakartaProjectLabelProvider" />
   </extension>
   
</plugin>