<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin id="org.eclipse.lsp4jakarta.jdt"
	name="Lsp4Jakarta JDT Extension">
	<requires>
		<import plugin="org.eclipse.core.runtime" />
	</requires>

	<!-- Delegate command handler for Java file -->
	<extension point="org.eclipse.jdt.ls.core.delegateCommandHandler">
		<delegateCommandHandler class="org.eclipse.lsp4mp.jdt.internal.core.ls.JakartaDelegateCommandHandlerForJava">
			<command id="jakarta/java/classpath"/>
		</delegateCommandHandler>
	</extension>
</plugin>